<p id="notice"><%= notice %></p>

<div class="span8 well">
	<div class="row">
		<div class="span3 offset1">
			<a href="<%= make_amazon_url(@book.isbn10) %>" class="thumbnail"><%= image_tag @book.image_url %></a>
		</div>
		<div class="span8">
			<p> <b>Title:</b> <%= @book.title %> </p>
			<p> <b>Publisher:</b> <%= @book.publisher %> </p>
			<p> <b>Price:</b> <%= @book.price %> </p>
			<p> <b>Author:</b> <%= @book.author %> </p>
			<p> <b>Published:</b> <%= @book.published %> </p>
			<p> <b>Description:</b> <%= @book.description %> </p>

			<%= link_to 'Edit', edit_book_path(@book) %> |
			<%= link_to 'Back', books_path %>
		</div>
	</div>
</div>
